{% extends "layout.html" %}
{% block content %}

<div class="row">
    <div class="small-2 large-4 columns">
    <br />
        <div id="d3_map"></div>
    </div>
    
    <div class="small-4 large-4 columns">
        <div id="corner_item">
            <div class="mapText">NBA Stats</div>
            <div class="menu">
                <select id="dataSelector">
                    <option value="" disabled="disabled">Change Data</option>
                    <option value="FT_PCT" selected="selected">Free Throw %</option>
                    <option value="FG3A">3PT Attemps</option>
                    <option value="AST">Assists</option>
                    <option value="STL">Steals</option>
                    <option value="PTS">Points</option>
                    <option value="FG_PCT">FG %</option>
                    <option value="FG3M">3PT FG Made</option>
                    <option value="OREB">Off Rebounds</option>
                    <option value="FTA">FG Attempts</option>
                    <option value="FGM">FG Made</option>
                    <option value="FG3_PCT">3PT %</option>
                    <option value="PF">Personal Foul</option>
                    <option value="BLK">Blocks</option>
                    <option value="REB">Rebounds</option>
                    <option value="DREB">Defensive Rebounds</option>
                    <option value="FTM">Free Throw Made</option>
                    <option value="FGA">FG Attemps</option>
                </select>
            </div>

            <div class="menu">
                <select id="teamSelector">
                    <option value="" disabled="disabled">Change Team</option>
                    <option value="New York Knicks" selected="selected">NY Knicks</option>

                    {%for team in nba_teams %} 
                        <option value="{{team}}">{{team}}</option>
                    {% endfor %}
                </select>
            </div>

            <p class="mapSubtext">
                <!-- <a href="#test" data-reveal-id="myModal" class="radius button tiny">Time of Day Viz</a> -->
                2013-14 Season
                <br />
                <a href="https://github.com/zunayed/nba_stats">Github</a> 
                <br />
                <a href="http://blog.dtostillwell.com">Zunayed Morsalin</a>
                <br />
                
                This visualization illustrates the 
                <br />
                points/percentages/numbers that
                <br />
                the selected team achieved
                <br />
                compared to other teams in the league.
                <br />
                <br />
                Just find your team in the above
                <br />
                dropdown and select the stats you
                <br />
                want to explore
                <br />

                <a href="#" data-reveal-id="myModal">More Info</a>
            </p>

            <div id="myModal" class="reveal-modal" data-reveal>
              <p>Values are averages of all the games played vs opponents. The data scraped from the nba stats site</p>
              <p>Built with Flask, D3, and Foundation</p>
              <a class="close-reveal-modal">&#215;</a>
            </div>


        </div>
    </div>
    <div id="tooltip" class="hidden">
        <p><span id="value">100</span></p>
    </div>
</div>

<!-- JavaScript -->
<script src="{{ url_for('static', filename='data/abbrData.js') }}"></script>
<script src="{{ url_for('static', filename='colorbrewer.js') }}"></script>
<script src="{{ url_for('static', filename='d3.v3.js') }}"></script>
<script src="{{ url_for('static', filename='maps.js') }}"></script>

{% endblock %}




