{% extends "layout.html" %}
{% block content %}

<div class="row">
    <div class="small-2 large-4 columns">
    <br />
        <div id="d3_map"></div>
    </div>
    
    <div class="small-4 large-4 columns">
        <div id="corner_item">
            <div class="mapText"> NBA Data</div>
            <div class="menu">
                <select id="dataSelector">
                    <option value="" disabled="disabled">Change Data</option>
                    <option value="FT_PCT" selected="selected">Free Throw %</option>
                    <option value="FG3A">3PT Attemps</option>
                    <option value="AST">Assists</option>
                    <option value="STL">Steals</option>
                    <option value="PTS">Points</option>
                    <option value="FG_PCT">FG %</option>
                    <option value="FG3M">3PT FG Made</option>
                    <option value="OREB">Off Rebounds</option>
                    <option value="FTA">FG Attempts</option>
                    <option value="FGM">FG Made</option>
                    <option value="FG3_PCT">3PT %</option>
                    <option value="PF">Personal Foul</option>
                    <option value="BLK">Blocks</option>
                    <option value="REB">Rebounds</option>
                    <option value="DREB">Defensive Rebounds</option>
                    <option value="FTM">Free Throw Made</option>
                    <option value="FGA">FG Attemps</option>
                </select>
            </div>

            <div class="menu">
                <select id="teamSelector">
                    <option value="" disabled="disabled">Change Team</option>
                    <option value="New York Knicks" selected="selected">NY Knicks</option>
                    <option value="Brooklyn Nets">Brooklyn Nets</option>

                </select>
            </div>

            <p class="mapSubtext">
                <!-- <a href="#test" data-reveal-id="myModal" class="radius button tiny">Time of Day Viz</a> -->
                <br />
                <a href="https://github.com/zunayed/nba_stats">Github</a> 
                <br />
                Zunayed Morsalin
                <br />
                2013-14 Season
            </p>
        </div>
    </div>
    <div id="tooltip" class="hidden">
        <p><span id="value">100</span>%</p>
    </div>
</div>

<!-- JavaScript -->
<script src="{{ url_for('static', filename='data/abbrData.js') }}"></script>
<script src="{{ url_for('static', filename='colorbrewer.js') }}"></script>
<script src="{{ url_for('static', filename='d3.v3.js') }}"></script>
<script src="{{ url_for('static', filename='maps.js') }}"></script>

{% endblock %}




